<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Update Student Details</h1>
    <form action="/students/<%= profile._id %>?_method=PUT" method="POST">

        <label for="name">Name</label>
        <input type="text" name="name" id="name" value="<%= profile.name  %> ">
        <br>
        <label for="age">Age</label>
        <input type="number" name="age" id="age" value="<%= profile.age  %>">

        <br>
        <label for="gender">Gender</label>
        <select name="gender" id="gender">
            <option value="male">Male</option>
            <option value="female">Female</option>
            <option value="others">Others</option>
        </select>
        <br>

        <label for="branch">Branch</label>
        <select name="branch" id="branch">
            <option value="CSE">CSE</option>
            <option value="IT">IT</option>
            <option value="EC">EC</option>
            <option value="ME">ME</option>
            <option value="CE">CE</option>
            <option value="BM">BM</option>
            <option value="EE">EE</option>
            <option value="Pharmcy">Pharmcy</option>
        </select>
        <br>
        <label for="desc">Student Description</label>
        <br>
        <textarea name="desc" id="desc" cols="50" rows="5"><%= profile.desc %></textarea>
        <br>
        <button type="submit">Update Details</button>
    </form>
    <a href="/students/<%= profile._id  %>">Back to Profile Page</a>
    <br>
    <a href="/students">List of Students</a>
    <br>
    <a href="/">Return to Home Page</a>
</body>

</html>